<hgtml>
  <head>
    <title> Pagina de web de ejemplo </title>
  </head>
  <body>
    <h1> Servidor {{ ansible_hostname}} </h1>
    <p> Hoy es  {{ ansible_date_time.weekday }} {{ ansible_date_time.day }} </p>
  </body>
</html>
