<Context>
  <Resource name="jdbc/todoDB"
            auth="Container"
            type="javax.sql.DataSource"
            maxTotal="100"
            maxIdle="30"
            maxWaitMillis="10000"
            username="sysadmin"
            password="tlxadmin"
            driverClassName="com.mysql.jdbc.Driver"
            url="jdbc:mysql://192.168.56.103:3306/todo"/>
</Context>
